
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f4f7;
  height:297mm;
  width:210mm;
}
.main_conteiner {
  display: flex;
  flex-direction: row;
  width: 1700px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* main content section */
.main_content_section {
  padding: 100px 90px;
}
.main_content_tittle {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
/* about me section */
.about_me_section {
  margin-bottom: 40px;
}

.about_me_profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 20px;
}
.about_me_name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 15px;
}
.about_me_description{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
  width: 400px; 
}
/* .about_my_purpose {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
  width: 400px;
} */
/* my projects section */
.my_projects_sction {
  margin-bottom: 50px;
}
.main_projects_list {
  padding: 0 0 0 17px;
}
.my_projects_item {
  font-weight: bold;
  color: black;
}
.my_projects_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my_projects_text {
  margin-left: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* my_work_experience */
/* .my_work_experience {
  margin-bottom: 45px;
} */
.my_work_experience_company,
.about_my_purpose {
  color: #fb6d3a;
}
.my_work_expirience_position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}
.my_work_experience_time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
/* .my_work_experience_devider {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
} */
/* .my_work_experience_duties {
  padding-left: 18px;
} */
/* .my_work_experience_duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
} */

.my_projects_bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
/* .my_work_experience_company_block {
  margin: 0 15px 0 0;
} */
/* my education section */
.my_education {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}

/* sidebar section */
.sidebar_section {
  background-color: #595959;
  width: 380px;
  padding: 40px 0;
}
.contacts_section,
.tech_skills_section,
.soft_skills_section,
.english_level_section {
  margin: 10px 0 10px 40px;
}
.tech_skills_level{
  margin-top: 10px;
  color:#fff;
}
.sidebar_tittle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

/* contacts section */
.sidebar_tittle_contacts {
  /* font-family: Montserrat; */
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-bottom: 10px;
  text-indent:-1.5em;

}
/* font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px; */
.contacts_section_tipe {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  margin-right: 5px;
  
}
.contscts_section_link {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
/* tech skills list */
.tech_skills_list {
  padding: 0 0 0 18px;
}
.tech_skills_item,
.my_description {
  color: #fb6d3a;
}
.tech_skills_item_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
/* .my_education_section{
  margin-top: 160px;
} */
